// Place all the styles related to the blog_posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'contents';

.post-container {
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  .post-header {
    padding: 10px;
    .post-title {
      float: left;
      font-weight: bold;
      font-size: 2em;
    }
    .post-date {
      text-align: right;
      float: right;
      color: $banner-text-color;
    }
  }
  .post-abstract {
    clear: both;
    margin: 10px;
    font-style: italic;
    font-size: 0.9em;
    color: $banner-text-color;
  }
  .post-content {
    clear: both;
    margin: 10px;
  }
}

