$header-bg-color:   rgba(112, 48, 207, 0.6);
$header-text-color: #003;

$banner-text-color: #dbf;

$body-text-color:   #baf;

$nav-link-bg-color:           #b9e;
$nav-link-text-color:         hsl(268, 54, 11);
$nav-hover-link-bg-color:     #dbf;
$nav-hover-link-text-color:   #50a;
$nav-active-link-bg-color:    $header-bg-color;
$nav-active-link-text-color:  $header-text-color;

$drop-shadow-color:       hsl(268, 54, 11);

$link-text-color:         #46f;
$hover-link-text-color:   #9af;
$active-link-text-color:  #79e;

$button-border-color:     #dbf;

$max-app-width: 1024px;


