$header-bg-color:   hsla(264, 62, 50, 0.6);

$banner-text-color: hsl(260, 100, 89);

$body-text-color:   hsl(252, 100, 83);

$nav-link-bg-color:           hsl(264, 71, 77);
$nav-hover-link-bg-color:     hsl(264, 100, 87);
$nav-active-link-bg-color:    $header-bg-color;

$nav-link-text-color:         hsl(270, 54, 11);
$nav-hover-link-text-color:   hsl(270, 100, 33);
$nav-active-link-text-color:  hsl(270, 100, 10);

$content-background-color:  hsla(260, 100, 13, 0.65);
$banner-background-color:   hsla(260, 100, 5, 0.4);
$drop-shadow-color:         hsl(270, 50, 5);

$link-text-color:         hsl(230, 100, 65);
$hover-link-text-color:   hsl(230, 100, 90);
$active-link-text-color:  hsl(220, 90, 80);

$button-border-color:     hsl(270, 100, 87);

$min-app-width: 850px;
$max-app-width: 1024px;


