/* === Color Scheme === */

$header-bg-color:   rgba(112, 48, 207, 0.6);
$header-text-color: #003;

$banner-text-color: #dbf;

$body-text-color:   #baf;

$nav-link-bg-color:           #b9e;
$nav-link-text-color:         #306;
$nav-hover-link-bg-color:     #dbf;
$nav-hover-link-text-color:   #50a;
$nav-active-link-bg-color:    $header-bg-color;
$nav-active-link-text-color:  $header-text-color;

$link-text-color:         #44f;
$hover-link-text-color:   #88f;
$active-link-text-color:  #66f;

$max-app-width: 1024px;


/* === Layout === */

html {
  font-family: Georgia, Serif;
  background-image: url(cloudy-bg-16-color.png);
  background-color: rgba(16, 0, 32, 0.8);
  background-blend-mode: darken;
}

* {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

p {
  text-indent: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Impact, Charcoal, sans-serif;
  text-align: center;
  margin-bottom: 20px;
}

a {
  color: $link-text-color;
  &:hover {
    color: $hover-link-text-color;
  }
  &:active {
    color: $active-link-text-color;
  }
}

.banner {
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: darken;
  text-align: center;
  border: 10px $header-bg-color solid;
  border-radius: 50px;
  margin: 10px;
  min-width: 650px;
  max-width: $max-app-width;
  margin-left: auto;
  margin-right: auto;
  #logo {
    font-family: Impact, Charcoal, sans-serif;
    font-size: 6em;
    color: $banner-text-color;
    text-decoration: none;
    &:active {
      cursor: default;
    }
  }
  h2 {
    font-family: Georgia, Serif;
    color: $banner-text-color;
    font-style: italic;
  }
}

.navbar {
  background-color: $header-bg-color;
  min-width: 650px;
  max-width: $max-app-width;
  margin-left: auto;
  margin-right: auto;
}

nav {
  ul {
    text-align: center;
    li {
      padding: 10px 0px;
      display: inline-block;
      a {
        font-family: "Arial Black", Gadget, sans-serif;
        background-color: $nav-link-bg-color;
        color: $nav-link-text-color;
        padding: 10px;
        text-decoration: none;
        &:hover {
          background-color: $nav-hover-link-bg-color;
          color: $nav-hover-link-text-color;
        }
        &:active {
          background-color: $nav-active-link-bg-color;
          color: $nav-active-link-text-color;
          cursor: default;
        }
      }
    }
  }
}

body {
  color: $body-text-color;
}

.content {
  margin: 10px;
  min-width: 650px;
  max-width: $max-app-width;
  margin-left: auto;
  margin-right: auto;
  clear: both;
  li {
    margin-left: 60px;
  }
  table {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.image-container {
  margin: 10px;
  img.scale-to-fit {
    max-height: 100%;
    max-width: 100%;
  }
}

.three-column {
  max-width: $max-app-width / 3;
}

.copyright {
  font-family: Tahoma, Geneva, sans-serif;
  text-align: center;
  color: $banner-text-color;
}

form {
  text-align: center;
  label {
    text-align: left;
  }
  div {
    margin: 10px;
  }
  input[type="text"], input[type="email"], input[type="password"] {
    padding: 5px;
    min-width: $max-app-width / 4;
  }
  input[type="text"] {
    padding: 5px;
    min-width: $max-app-width / 4;
  }
  input[type="submit"] {
    min-width: auto;
    margin: 10px;
    padding: 10px;
  }
}

#error_explanation {
  text-align: left;
  margin: 10px;
  padding: 10px;
  border: 5px ridge #f69;
  background-color: rgba(128, 0, 64, 0.25);
  color: #c06;
}

.alert {
  text-align: left;
  margin: 10px;
  padding: 10px;
}

.alert-success {
  border: 5px ridge #9f6;
  background-color: rgba(64, 128, 0, 0.25);
  color: #6c0;
}
