// Place all the styles related to the Publications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'contents';

@mixin allow-transitions {
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.publication-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto auto auto auto;
  grid-gap: 10px;
  grid-template-areas:
    "image title"
    "image publisher"
    "image summary"
    "image hidden"
    "image reveal"
    "admin retailers";
  .publication-image {
    grid-area: image;
    align-self: center;
    img {
      @include allow-transitions;
      width: 170px;
      height: auto;
    }
  }
  .publication-admin-links {
    grid-area: admin;
    justify-self: center;
  }
  .publication-title {
    grid-area: title;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
  }
  .publisher-info {
    grid-area: publisher;
  }
  .publication-short-description {
    grid-area: summary;
  }
  .read-more-hidden {
    grid-area: hidden;
    @include allow-transitions;
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    max-height: 0px;
    overflow: hidden;
    .publication-long-description {
    }
    .publication-reviews {
    }
  }
  .publication-retailers {
    grid-area: retailers;
  }
  .read-more-trigger {
    grid-area: reveal;
    @include allow-transitions;
    background-color: rgba(64, 128, 256, 0.15);
    cursor: pointer;
    text-align: center;
    width: 100%;
    padding: 10px 0px;
    max-height: 1.1em;
    justify-self: center;
    align-self: center;
  }
}

.read-more-state {
  display: none;
}

.read-more-state:checked ~ .read-more-trigger {
  @include allow-transitions;
  padding: 0px 0px;
  max-height: 0px;
  overflow: hidden;
}

.read-more-state:checked ~ .publication-image img {
  width: 340px;
}

.read-more-state:checked ~ .read-more-hidden {
  -webkit-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1);
  max-height: 1000px;
  overflow: inherit;
}

.read-more-trigger {
  @include allow-transitions;
  display: inline-block;
  background-color: rgba(64, 128, 256, 0.15);
  cursor: pointer;
  text-align: center;
  width: 100%;
  padding: 10px 0px;
  max-height: 1.1em;
  overflow: hidden;
}
